.money{


    & {
        background-image: url("../img/money_background.png");
        background-attachment: fixed;
       // background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        width: 99.1%;
        height: 0px;
        padding-bottom:44%;
    }

    &__text {
        position: absolute;
        padding-left: 50%;
        padding-right: 50%;
        padding-top: 15%;
        font-size: 30px;
    }

}
