mixin b_mainmenu
  +b.mainmenu
    +e.text Виберіть категорію
    +b_category("img/category_pict1.png","Автотранспорт")
    +b_category("img/category_pict2.png","Будівництво, архітектура, землекористування")
    +b_category("img/category_pict3.png","Громадянство")
    +b_category("img/category_pict4.png","Захист прав дитини")
    +b_category("img/category_pict5.png","Реєстрація місця проживання/перебування")
    +b_category("img/category_pict6.png","Підприємницька дяльність")
    +b_category("img/category_pict7.png","Санітарне та епідемічне благополуччя, ветеринарна медицина")
    +b_category("img/category_pict8.png","Комунальне господарство")
    +e(style='clear: both;')
