mixin b_mainmenu
  +b.mainmenu
    +e.text Виберіть категорію
    +b_category("img/header_pict1.png","Автотранспорт")
    +b_category("img/header_pict1.png","Будівництво, архітектура, землекористування")
    +b_category("img/header_pict1.png","Громадянство")
    +b_category("img/header_pict1.png","Захист прав дитини")
    +b_category("img/header_pict1.png","Реєстрація місця проживання/перебування")
    +b_category("img/header_pict1.png","Підприємницька дяльність")
    +b_category("img/header_pict1.png","Санітарне та епідемічне благополуччя, ветеринарна медицина")
    +b_category("img/header_pict1.png","Комунальне господарство")
    +e(style='clear: both;')
