.header {
	width: 100%;
    background-color: #383e49;
    font-family: #{$font-serif};
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;

    text-align: center;
    &__img1{
        display: inline;
    }
    &__text{
        padding-left: 10px;
        display: inline;
    }
}
